In [15]:
import pandas as pd

df = pd.read_csv('artists.csv')

print(df.head())

print(df.isnull().sum())

print(df.dtypes)

print(df.duplicated().sum())

print(df.describe())

# Fill missing values with a placeholder for categorical columns
df['Nationality'].fillna('Unknown', inplace=True)
df['Gender'].fillna('Unknown', inplace=True)

# Fill missing values with the median for the 'Birth Year' column
df['Birth Year'].fillna(df['Birth Year'].median(), inplace=True)

df.drop_duplicates(inplace=True)

# Convert 'Birth Year' to integer
df['Birth Year'] = df['Birth Year'].astype(int)

# Fill missing years with -1
df['Death Year'] = df['Death Year'].fillna(-1).astype(int) 

# Ensure 'Nationality' and 'Gender' are of type 'category' to save memory
df['Nationality'] = df['Nationality'].astype('category')
df['Gender'] = df['Gender'].astype('category')


df.to_csv('cleaned_artists.csv', index=False)

   Artist ID             Name Nationality Gender  Birth Year  Death Year
0          1   Robert Arneson    American   Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish   Male      1936.0         NaN
2          3      Bill Arnold    American   Male      1941.0         NaN
3          4  Charles Arnoldi    American   Male      1946.0         NaN
4          5      Per Arnoldi      Danish   Male      1941.0         NaN
Artist ID          0
Name               0
Nationality     2488
Gender          3072
Birth Year      3854
Death Year     10512
dtype: int64
Artist ID        int64
Name            object
Nationality     object
Gender          object
Birth Year     float64
Death Year     float64
dtype: object
0
          Artist ID    Birth Year   Death Year
count  15091.000000  11237.000000  4579.000000
mean   18297.556027   1930.852719  1974.287399
std    16632.963898     34.531997    31.153665
min        1.000000   1730.000000  1795.000000
25%     4195.500000   1910.000000  1958.000000
50%     8593.000000   1936.000000  1980.000000
75%    33088.500000   1956.000000  1998.000000
max    67695.000000   2012.000000  2017.000000

In [7]:
import pandas as pd

file_path = 'artworks.csv'
artworks = pd.read_csv(file_path)

print(artworks.head())
print(artworks.dtypes)
print(artworks.isnull().sum())

filtered_artworks = artworks[
    ~(
        (artworks['Title'].str.lower() == 'unknown title') |
        (artworks['Medium'].str.lower() == 'unknown medium') |
        (artworks['Artist ID'].str.lower() == 'unknown artist') |
        (artworks['Name'].str.lower() == 'unknown artist')
    )
]

filtered_artworks = artworks[
    ~(artworks.applymap(lambda x: x.lower() if isinstance(x, str) else x) == 'unknown').any(axis=1)
]

artworks['Acquisition Date'] = pd.to_datetime(artworks['Acquisition Date'], errors='coerce')

artworks['Title'] = artworks['Title'].str.lower().str.strip()
artworks['Medium'] = artworks['Medium'].str.lower().str.strip()
artworks['Name'] = artworks['Name'].str.lower().str.strip()

artworks.drop_duplicates(inplace=True)

cleaned_file_path = 'cleaned_artworks.csv'
artworks.to_csv(cleaned_file_path, index=False)

   Artwork ID                                              Title Artist ID  \
0           2  Ferdinandsbr√ºcke Project, Vienna, Austria, Ele...      6210
1           3  City of Music, National Superior Conservatory ...      7470
2           4  Villa near Vienna Project, Outside Vienna, Aus...      7605
3           5  The Manhattan Transcripts Project, New York, N...      7056
4           6  Villa, project, outside Vienna, Austria, Exter...      7605

                       Name  Date  \
0               Otto Wagner  1896
1  Christian de Portzamparc  1987
2                Emil Hoppe  1903
3           Bernard Tschumi  1980
4                Emil Hoppe  1903

                                              Medium  \
0      Ink and cut-and-pasted painted pages on paper
1                  Paint and colored pencil on print
2  Graphite, pen, color pencil, ink, and gouache ...
3  Photographic reproduction with colored synthet...
4  Graphite, color pencil, ink, and gouache on tr...

                           Dimensions Acquisition Date  \
0  19 1/8 x 66 1/2" (48.6 x 168.9 cm)       1996-04-09
1       16 x 11 3/4" (40.6 x 29.8 cm)       1995-01-17
2   13 1/2 x 12 1/2" (34.3 x 31.8 cm)       1997-01-15
3           20 x 20" (50.8 x 50.8 cm)       1995-01-17
4    15 1/8 x 7 1/2" (38.4 x 19.1 cm)       1997-01-15

                                              Credit Catalogue  ...  \
0  Fractional and promised gift of Jo Carole and ...         Y  ...
1  Gift of the architect in honor of Lily Auchinc...         Y  ...
2             Gift of Jo Carole and Ronald S. Lauder         Y  ...
3  Purchase and partial gift of the architect in ...         Y  ...
4             Gift of Jo Carole and Ronald S. Lauder         Y  ...

  Classification Object Number Diameter (cm)  Circumference (cm)  Height (cm)  \
0   Architecture      885.1996           NaN                 NaN      48.6000
1   Architecture        1.1995           NaN                 NaN      40.6401
2   Architecture        1.1997           NaN                 NaN      34.3000
3   Architecture        2.1995           NaN                 NaN      50.8000
4   Architecture        2.1997           NaN                 NaN      38.4000

   Length (cm)  Width (cm)  Depth (cm)  Weight (kg)  Duration (s)
0          NaN    168.9000         NaN          NaN           NaN
1          NaN     29.8451         NaN          NaN           NaN
2          NaN     31.8000         NaN          NaN           NaN
3          NaN     50.8000         NaN          NaN           NaN
4          NaN     19.1000         NaN          NaN           NaN

[5 rows x 21 columns]
Artwork ID              int64
Title                  object
Artist ID              object
Name                   object
Date                   object
Medium                 object
Dimensions             object
Acquisition Date       object
Credit                 object
Catalogue              object
Department             object
Classification         object
Object Number          object
Diameter (cm)         float64
Circumference (cm)    float64
Height (cm)           float64
Length (cm)           float64
Width (cm)            float64
Depth (cm)            float64
Weight (kg)           float64
Duration (s)          float64
dtype: object
Artwork ID                 0
Title                     52
Artist ID               1460
Name                    1460
Date                    2312
Medium                 11919
Dimensions             11463
Acquisition Date        5463
Credit                  3070
Catalogue                  0
Department                 0
Classification             0
Object Number              0
Diameter (cm)         128863
Circumference (cm)    130252
Height (cm)            18369
Length (cm)           129526
Width (cm)             19259
Depth (cm)            118819
Weight (kg)           129964
Duration (s)          127178
dtype: int64