In [15]:
import pandas as pd

df = pd.read_csv('artists.csv')

print(df.head())

print(df.isnull().sum())

print(df.dtypes)

print(df.duplicated().sum())

print(df.describe())

# Fill missing values with a placeholder for categorical columns
df['Nationality'].fillna('Unknown', inplace=True)
df['Gender'].fillna('Unknown', inplace=True)

# Fill missing values with the median for the 'Birth Year' column
df['Birth Year'].fillna(df['Birth Year'].median(), inplace=True)

df.drop_duplicates(inplace=True)

# Convert 'Birth Year' to integer
df['Birth Year'] = df['Birth Year'].astype(int)

# Fill missing years with -1
df['Death Year'] = df['Death Year'].fillna(-1).astype(int) 

# Ensure 'Nationality' and 'Gender' are of type 'category' to save memory
df['Nationality'] = df['Nationality'].astype('category')
df['Gender'] = df['Gender'].astype('category')


df.to_csv('cleaned_artists.csv', index=False)

   Artist ID             Name Nationality Gender  Birth Year  Death Year
0          1   Robert Arneson    American   Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish   Male      1936.0         NaN
2          3      Bill Arnold    American   Male      1941.0         NaN
3          4  Charles Arnoldi    American   Male      1946.0         NaN
4          5      Per Arnoldi      Danish   Male      1941.0         NaN
Artist ID          0
Name               0
Nationality     2488
Gender          3072
Birth Year      3854
Death Year     10512
dtype: int64
Artist ID        int64
Name            object
Nationality     object
Gender          object
Birth Year     float64
Death Year     float64
dtype: object
0
          Artist ID    Birth Year   Death Year
count  15091.000000  11237.000000  4579.000000
mean   18297.556027   1930.852719  1974.287399
std    16632.963898     34.531997    31.153665
min        1.000000   1730.000000  1795.000000
25%     4195.500000   1910.000000  1958.000000
50%     8593.000000   1936.000000  1980.000000
75%    33088.500000   1956.000000  1998.000000
max    67695.000000   2012.000000  2017.000000